html, body {
    margin: 0;
    padding: 0;
    background: gray;

    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-dark: #151515;
    --color-dark-border: rgba(20, 20, 20, 0.1);
    --color-gray: gray;
    --color-gray-light: lightgray;
    --color-light: ghostwhite;

    /*--color-orange: #a93e2f;*/
}

[data-theme="dark"] {
    --color-dark: #c0c0c0;
    --color-dark-border: rgba(220, 220, 220, 0.1);
    --color-gray: #a1a1a1;
    --color-gray-light: #565656;
    --color-light: #000000;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

#theme {
    font-size: 40px;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 55px;
    height: 55px;
    text-align: center;

    cursor: pointer;
    color: var(--color-gray-light);
    user-select: none;
    display: none;

    border-radius: 50%;
}

#theme:hover {
    /*background: lightgrey;*/
    filter: invert(100);
}

#app {
    max-width: 1000px;
    min-height: 3000px;
    margin: auto;
    /*padding: 20px;*/
    background: var(--color-light);
    overflow: hidden;
}

#links {
}

#links .link {

}

#links .link.first {
    transition: margin-top 1s;
    /*background: #a1a1a1;*/
    /*margin-top: 77px;*/
    /*animation-duration: 1s;*/
    /*animation-name: goDown;*/
    /*animation-iteration-count: inherit;*/
}

/*@keyframes goDown {*/
/*    from {*/
/*        margin-top: 0;*/
/*    }*/

/*    to {*/
/*        margin-top: 100px;*/
/*    }*/
/*}*/

.link {
    /*height: 77px;*/
    padding: 20px;
    /*padding-bottom: 20px;*/
    position: relative;
    border-bottom: 1px solid var(--color-dark-border);
}

.link:hover {

    /*background: var(--color-gray-light);*/
}

/*.link:hover ~ .link {*/
/*    opacity: 0.1*/
/*}*/

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    /*font-size: 18px;*/
}

.title:hover {
    color: gray;
}

.length {
    /*position: absolute;*/
    display: none;
    width: 50px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 20px;
    color: var(--color-gray-light);
    text-align: end;
}

.words {
    padding-top: 5px;
    color: var(--color-gray-light);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: default;
}

.domain {
    color: var(--color-gray-light);
    margin-right: 10px;
    cursor: pointer;
}

.domain:hover {
    color: var(--color-dark);
}

.lang {
    color: var(--color-gray-light);
}

.lang:hover {

}

.word {
    margin-right: 10px;
    cursor: pointer;
}

.word:hover {
    color: var(--color-dark);
    cursor: pointer;
}

.word.selected {
    color: var(--color-dark);
}

.word.selected:hover {
    color: var(--color-gray-light);
}

#tags {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    color: var(--color-dark);
    width: 100%;
    font-size: 20px;
    padding: 20px;
    background: var(--color-gray-light);

    line-height: 150%;

    user-select: none;
}

.tag {
    margin-right: 10px;
    cursor: pointer;
}

.tag:hover {
    color: var(--color-light);
}

.tag.active {
    /*color: var(--color-orange);*/
    /*text-transform: uppercase;*/
    color: var(--color-light);
}

@media screen and (min-width: 1000px) {
    .length {
        font-size: 20px;
        display: inline-block;
    }
    .title {
        font-size: 20px;
    }
    #app {
        margin: 100px auto;
    }
    #theme {
        display: block;
    }
    #tags {
        font-size: 20px;
    }
}
