html, body {
    margin: 0;
    padding: 0;
    background: gray;

    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-dark: #151515;
    --color-dark-border: rgba(20, 20, 20, 0.1);
    --color-gray: gray;
    --color-gray-light: lightgray;
    --color-light: ghostwhite;

    /*--color-orange: #a93e2f;*/
}

[data-theme="dark"] {
    --color-dark: #c0c0c0;
    --color-dark-border: rgba(220, 220, 220, 0.1);
    --color-gray: #a1a1a1;
    --color-gray-light: #565656;
    --color-light: #000000;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

#theme {
    font-size: 40px;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 55px;
    height: 55px;
    text-align: center;

    cursor: pointer;
    color: var(--color-gray-light);
    user-select: none;
    display: none;

    border-radius: 50%;
}

#theme:hover {
    /*background: lightgrey;*/
    filter: invert(100);
}

#app {
    max-width: 1000px;
    /*min-height: 3000px;*/
    margin: auto;
    /*padding: 20px;*/
    background: var(--color-light);
    overflow: hidden;
}


@media screen and (min-width: 1000px) {

}
